@using Microsoft.AspNetCore.Components.Web
@using Swallow.Components.Reactive.EventHandlers
@using Swallow.Components.Reactive.State

<!DOCTYPE html>
<head lang="en">
    <title></title>

    <ComponentStateMap />
    <EventHandlerMap />
    <HeadOutlet />
</head>
<body>
    <DynamicComponent Type="ComponentType" />
</body>

@code {

    [Parameter]
    [EditorRequired]
    public required Type ComponentType { get; set; }

}
