@using Microsoft.AspNetCore.Components.Web
@using Swallow.Components.Reactive.Rendering.EventHandlers
@using Swallow.Components.Reactive.Rendering.State

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ComponentType.Name</title>

    <AntiforgeryMetadata/>
    <ComponentParameterMetadata Parameters="@ComponentParameters.AsReadOnly()"/>
    <ComponentStateMap/>
    <EventHandlerMap/>
</head>
<body>
    <div class="srx-head-content" style="display: none;">
        <HeadOutlet />
    </div>

    <div class="srx-content" style="display: contents;">
        <DynamicComponent Type="ComponentType" Parameters="ComponentParameters" />
    </div>

    <div class="srx-error" style="display: none;">
        <!-- filled automatically -->
    </div>
</body>
</html>
