@inject PersistentComponentState State
@implements IDisposable

<span @onclick="@(() => tag = $"{Name}-{DateTime.UtcNow.Ticks}")">@tag</span>

@code {
    [Parameter]
    [EditorRequired]
    public required string Name { get; set; }

    private string? tag;
    private IDisposable? persistSubscription;

    protected override void OnInitialized()
    {
        persistSubscription = State.Register($"schnitzel-{Name}", ref tag, () => tag);
        tag ??= $"{Name}-{DateTime.UtcNow.Ticks}";
    }

    public void Dispose()
    {
        persistSubscription?.Dispose();
    }

}
