@page "/reactive/streaming"

<ul>
    @foreach (var number in RandomNumbers ?? [])
    {
        <li>@number</li>
    }
</ul>

<button type="button" @onclick="GetOneMore" disabled="@generating">Get 1 more</button>
<button type="button" @onclick="GetTenMore" disabled="@generating">Get 10 more</button>

@code {

    private bool generating = false;

    [PersistentState]
    public List<int>? RandomNumbers { get; set; }

    protected override void OnInitialized()
    {
        RandomNumbers ??= [];
    }

    private async Task GetOneMore()
    {
        generating = true;
        StateHasChanged();

        var number = await GenerateNumberAsync();
        RandomNumbers?.Add(number);

        StateHasChanged();

        generating = false;
        StateHasChanged();
    }

    private async Task GetTenMore()
    {
        generating = true;
        StateHasChanged();

        for (var i = 0; i < 10; i++)
        {
            var number = await GenerateNumberAsync();
            RandomNumbers?.Add(number);

            StateHasChanged();
        }

        generating = false;
        StateHasChanged();
    }

    private async Task<int> GenerateNumberAsync()
    {
        await Task.Delay(TimeSpan.FromMilliseconds(500));
        return Random.Shared.Next();
    }

}
