button {
    position: relative;
    vertical-align: middle;

    isolation: isolate;
    appearance: none;
    outline: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    border-radius: 0.25rem;
    border-width: 1px;
    border-color: transparent;

    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    white-space: nowrap;

    background: light-dark(black, white);
    color: light-dark(white, black);

    user-select: none;
    cursor: pointer;
}

button.size-small {
    height: 1.5rem;
    min-width: 1.5rem;
    padding-inline: 0.33rem;
}

button.size-smaller {
    height: 2rem;
    min-width: 2rem;
    padding-inline: 0.66rem;
}

button.size-normal {
    height: 2.5rem;
    min-width: 2.5rem;
    padding-inline: 1rem;
}

button.size-larger {
    height: 3em;
    min-width: 3rem;
    padding-inline: 1.33rem;
}

button.size-large {
    height: 3.5em;
    min-width: 3.5rem;
    padding-inline: 1.66rem;
}

button:hover:not:disabled {
    background: color-mix(in srgb, light-dark(black, white) 90%, transparent);
}

button:focus-visible {
    outline: light-dark(black, white) solid 2px;
    outline-offset: 2px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
