/* Common */

button {
    position: relative;
    vertical-align: middle;

    isolation: isolate;
    appearance: none;
    outline: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    border-radius: var(--radius-border);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);

    background: var(--color-bg);
    color: var(--color-fg);

    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    white-space: nowrap;

    user-select: none;
    cursor: pointer;
}

button:hover:not(:disabled) {
    background: var(--color-bg-hover, var(--color-bg));
}

button:focus-visible {
    outline: light-dark(black, white) solid 2px;
    outline-offset: 2px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Size */

button.size-small {
    height: 1.5rem;
    min-width: 1.5rem;
    padding-inline: 0.33rem;
}

button.size-smaller {
    height: 2rem;
    min-width: 2rem;
    padding-inline: 0.66rem;
}

button.size-normal {
    height: 2.5rem;
    min-width: 2.5rem;
    padding-inline: 1rem;
}

button.size-larger {
    height: 3em;
    min-width: 3rem;
    padding-inline: 1.33rem;
}

button.size-large {
    height: 3.5em;
    min-width: 3.5rem;
    padding-inline: 1.66rem;
}

/* Variant */

button.variant-solid {
    --color-bg: light-dark(black, white);
    --color-bg-hover: color-mix(in srgb, light-dark(black, white) 90%, transparent);
    --color-border: transparent;

    --color-fg: light-dark(white, black);
}

button.variant-subtle {
    --color-bg: light-dark(lightgray, darkgray);
    --color-bg-hover: color-mix(in srgb, light-dark(lightgray, darkgray) 90%, transparent);
    --color-border: transparent;

    --color-fg: light-dark(black, white);
}

button.variant-outline {
    --color-bg: transparent;
    --color-bg-hover: color-mix(in srgb, light-dark(lightgray, darkgray) 90%, transparent);
    --color-border: light-dark(lightgray, darkgray);

    --color-fg: light-dark(black, white);
}

button.variant-ghost {
    --color-bg: transparent;
    --color-bg-hover: color-mix(in srgb, light-dark(lightgray, darkgray) 90%, transparent);
    --color-border: transparent;

    --color-fg: light-dark(black, white);
}

button.variant-plain {
    --color-bg: transparent;
    --color-bg-hover: transparent;
    --color-border: transparent;

    --color-fg: light-dark(black, white);
}

/* Rounding */

button.rounding-none {
    --radius-border: 0;
}

button.rounding-small {
    --radius-border: 0.25rem;
}

button.rounding-normal {
    --radius-border: 0.375rem;
}

button.rounding-large {
    --radius-border: 0.5rem;
}

button.rounding-extra {
    --radius-border: 0.75rem;
}

button.rounding-half {
    --radius-border: 1rem;
}

button.rounding-full {
    --radius-border: 9999px;
}

/* Animation */

button {
    transition-duration: 200ms;
    transition-property: color, background, border-color, outline, outline-offset;
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
    button {
        transition-duration: 0s;
    }
}
