nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1lh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
