li {
    padding: 4px 8px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

li > ::deep a {
    justify-content: flex-start;
}

li.active > ::deep a {
    background-color: var(--color-bg-hover);
}
