@using Microsoft.AspNetCore.Components.Web
@inject PersistentComponentState State
@implements IDisposable

<span @onclick="@(() => Tag = $"{Name}-{DateTime.UtcNow.Ticks}")">@Tag</span>

@code {
    [Parameter]
    [EditorRequired]
    public required string Name { get; set; }

    private string? Tag { get; set; }
    private IDisposable? persistSubscription;

    protected override void OnInitialized()
    {
        Tag = State.TryTakeFromJson<string>($"schnitzel-{Name}", out var tag) ? tag : $"{Name}-{DateTime.UtcNow.Ticks}";
        persistSubscription = State.RegisterOnPersisting(Persist);
    }

    private Task Persist()
    {
        State.PersistAsJson($"schnitzel-{Name}", Tag);

        return Task.CompletedTask;
    }

    public void Dispose()
    {
        persistSubscription?.Dispose();
    }

}
