@using Swallow.Components.Reactive.Framework

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Interactivity</title>
</head>
<body>
<header>
    <main>
        <ReactiveComponentBoundary ComponentType="@typeof(Page)" />
    </main>
</header>
</body>
</html>
