@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Swallow.Components.Reactive.Framework

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Interactivity</title>
</head>
<body>
<Router AppAssembly="@typeof(Root).Assembly">
    <Found>
        <AuthorizeRouteView RouteData="@context.AsReactiveIfNeeded()"/>
    </Found>
</Router>
</body>
</html>
