@using Microsoft.AspNetCore.Components.Web

<span @onclick="@OnParametersSet">@Tag</span>

@code {
    [Parameter]
    [EditorRequired]
    public required string Name { get; set; }

    [PersistentState]
    public string? Tag { get; set; }

    protected override void OnParametersSet()
    {
        Tag = $"{Name}-{DateTime.UtcNow.Ticks}";
    }

}
