input {
    position: relative;
    appearance: none;
    box-sizing: border-box;

    min-width: 2.5rem;
    height: 2.5rem;

    padding-inline: 0.75rem;

    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: start;

    outline: none;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
    border-color: light-dark(lightgray, darkgray);

    background: transparent;
}

input[stretch] {
    align-self: stretch;
    width: 100%;
}

input:focus-visible {
    border-color: light-dark(black, white);
    outline-offset: 0;
    outline: light-dark(black, white) solid 1px;
}
