button.sw, .sw-button {
    box-sizing: border-box;
    max-width: 100%;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-inline: var(--size-half);
    margin-block: var(--size-half);

    border: none;

    padding-inline: var(--size-full);
    padding-block: var(--size-half);

    color: var(--color-gray-dark);
    background-color: var(--color-gray-light);

    font-style: normal;
    font-size: var(--size-full);
    font-weight: normal;
    line-height: var(--size-full);

    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    cursor: pointer;
    user-select: none;

    &.primary {
        color: var(--color-background);
        background-color: var(--color-foreground);
    }

    &.text {
        color: var(--color-foreground);
        background-color: transparent;
    }

    &.icon-only {
        padding-inline: var(--size-half);
        padding-block: var(--size-half);

        color: var(--color-foreground);
        background-color: transparent;

        &.inline {
            margin-inline: .25ch;
            margin-block: 0;

            vertical-align: center;
        }
    }

    &:hover {
        opacity: 0.8;
    }

    &:focus-visible {
        outline: var(--size-thin) solid var(--color-foreground);
        outline-offset: var(--size-thin);
    }

    &[disabled] {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.sw-button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-full);

    & > :is(button.sw, .sw-button) {
        margin-inline: 0;
    }

    &.joined {
        gap: 0;
    }
}
