@using Swallow.Components.Reactive.Rendering

<div style="display: contents"
     _srx-fragment
     _srx-route="@targetUrl"
     _srx-antiforgery-name="@antiforgeryToken?.FormFieldName"
     _srx_antiforgery-token="@antiforgeryToken?.Value">

    @foreach (var parameter in ComponentParameters)
    {
        <meta itemprop="parameter" data-key="@parameter.Key" data-value="@Serialization.SerializeJson(parameter.Value)">
    }

    @if (Prerender)
    {
        <DynamicComponent Type="ComponentType" Parameters="ComponentParameters" />
    }

</div>
<script src="@Assets["_content/Swallow.Components.Reactive/reactive.js"]"></script>
