@using Swallow.Components.Reactive.Rendering

<div style="display: contents" srx-fragment srx-route="@targetUrl">
    <AntiforgeryMetadata />
    <ComponentParameterMetadata Parameters="@ComponentParameters.AsReadOnly()" />

    @if (Prerender)
    {
        <DynamicComponent Type="ComponentType" Parameters="ComponentParameters"/>
    }
</div>
<script src="@Assets["_content/Swallow.Components.Reactive/reactive.js"]"></script>
