:root {
    --color-foreground: light-dark(#000000, #FFFFFF);
    --color-background: light-dark(#FFFFFF, #000000);

    --color-gray-dark: light-dark(#444444, #CCCCCC);
    --color-gray-light: light-dark(#CCCCCC, #444444);

    --size-thin: 1px;
    --size-mini: 0.1em;
    --size-half: 0.5em;
    --size-full: 1em;
    --size-max: 9999px;
}

.sw-green {
    --color-foreground: green;
}

.sw-red {
    --color-foreground: red;
}

.sw-blue {
    --color-foreground: blue;
}
