<h1>Swallow.Components</h1>

<button type="button" only-dark @onclick="@(() => ThemeSelector.Choose(Theme.Light))">Light</button>
<button type="button" only-light @onclick="@(() => ThemeSelector.Choose(Theme.Dark))">Dark</button>
