<h1>Swallow.Components</h1>

<SwButton Size="ButtonSize.Small" OnClick="@(() => ThemeSelector.Choose(Theme.Light))" only-dark>Light</SwButton>
<SwButton Size="ButtonSize.Small" OnClick="@(() => ThemeSelector.Choose(Theme.Dark))" only-light>Dark</SwButton>
