@if (DisplayMode is DisplayMode.Block)
{
    <div class="sw tooltip-trigger" style="anchor-name: --@anchorName">@TriggerContent</div>
}
else
{
    <span class="sw tooltip-trigger" style="anchor-name: --@anchorName">@TriggerContent</span>
}

<div class="sw tooltip @tooltipClass" style="position-anchor: --@anchorName">@TooltipContent</div>
