<div class="sw tooltip-trigger @triggerClass"
     style="anchor-name: --@anchorName"
     @onmouseenter="@OnTriggered"
     @onmouseleave="@OnTriggered">
    @TriggerContent
</div>

<div class="sw tooltip @tooltipClass"
     style="position-anchor: --@anchorName">
    @TooltipContent
</div>
