@using Microsoft.AspNetCore.Components.Web
@inherits LayoutComponentBase

<HeadContent>
    <SwallowComponentsSetup />
</HeadContent>

<div id="app" theme="@theme">
    <header>
        <PageHeader />
    </header>

    <aside>
        <NavigationSidebar />
    </aside>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>
