#app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 72px 1fr;
    grid-template-columns: 240px 1fr;
    grid-template-areas:
            "header header"
            "side main";

    font-family: sans-serif;
}

#app > header {
    grid-area: header;
    overflow: hidden;

    border-bottom: 2px solid black;
    padding: 8px 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    h1 {
        margin: 0;
        padding: 0;

        font-size: 28px;
        font-weight: bold;
    }
}

#app > aside {
    grid-area: side;
    overflow: auto;

    border-right: 1px solid black;

    padding: 16px 8px;

    nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 8px;

        a {
            text-decoration: none;

            &.active::before {
                content: ">";
                margin-right: 1ch;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

nav > span {
    margin-inline: 0;
    margin-block: 1lh 0;
    font-size: 18px;
    font-weight: bold;
}

#app > main {
    position: relative;

    grid-area: main;
    overflow: auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 16px;

    & > article {
        flex: 3 1 fit-content;
        max-width: 120ch;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 1lh;

        & > :is(h1, h2, h3, h4, h5, h6, p) {
            margin: 0;
        }
    }

    & > aside {
        position: sticky;
        top: 0;

        flex: 1 0 fit-content;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 4px;

        padding: 16px;
    }
}
