@using Swallow.Components.Buttons
@inject NavigationManager NavigationManager

<nav>
    @foreach (var group in NavigationProvider.Sections)
    {
        <section>
            <header>@group.Header.Name</header>
            <ul>
                <li>
                    @foreach (var entry in group.Entries)
                    {
                        var linkUri = NavigationManager.ToAbsoluteUri(entry.Url);
                        var isActive = linkUri.AbsoluteUri == NavigationManager.Uri;

                        <SwLinkButton Href="@entry.Url"
                                      Size="ButtonSize.Smaller"
                                      Variant="ButtonVariant.Ghost"
                                      data-active="@isActive">
                            @entry.Name
                        </SwLinkButton>
                    }
                </li>
            </ul>
        </section>
    }
</nav>
