<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Swallow.Components</title>
    <base href="/"/>

    <link href="@Assets["DemoHost.Reactive.styles.css"]" rel="stylesheet"/>
    <HeadOutlet />
</head>
<body>
    <ReactiveComponentBoundary ComponentType="@typeof(ErrorHandledRoutes)"
                               ComponentParameters="@(new Dictionary<string, object?> { [nameof(ErrorHandledRoutes.HandleErrors)] = HandleErrors })"/>
</body>

</html>
