@using Swallow.Components.Demo.Layout
@attribute [ReactiveComponent]

<ErrorBoundary>
    <ChildContent>
        <Routing />
    </ChildContent>
    <ErrorContent>
        <LayoutView Layout="@typeof(MainLayout)">
            <h2>Oh noes, something went wrong</h2>
            <div>
                @context.Message
            </div>
        </LayoutView>
    </ErrorContent>
</ErrorBoundary>
