/* Common */

.sw-button {
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;

    isolation: isolate;
    appearance: none;
    outline: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    border-radius: var(--radius-border);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);

    background: var(--color-bg);
    color: var(--color-fg);

    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;

    user-select: none;
    cursor: pointer;
}

.sw-button:hover:not(:disabled) {
    background: var(--color-bg-hover, var(--color-bg));
}

.sw-button:focus-visible {
    outline: light-dark(black, white) solid 2px;
    outline-offset: 2px;
}

.sw-button:disabled, .sw-button[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Size */

.sw-button.sw-button-size-small {
    height: 1.5rem;
    min-width: 1.5rem;
    padding-inline: 0.33rem;
    padding-block: 0.07rem;
    line-height: 1.5rem;

    &.sw-button-icon {
        padding-inline: 0.125rem;
        padding-block: 0.125rem;
    }
}

.sw-button.sw-button-size-smaller {
    height: 2rem;
    min-width: 2rem;
    padding-inline: 0.66rem;
    padding-block: 0.15rem;
    line-height: 2rem;

    &.sw-button-icon {
        padding-inline: 0.25rem;
        padding-block: 0.25rem;
    }
}

.sw-button.sw-button-size-normal {
    height: 2.5rem;
    min-width: 2.5rem;
    padding-inline: 1rem;
    padding-block: 0.25rem;
    line-height: 2.5rem;

    &.sw-button-icon {
        padding-inline: 0.25rem;
        padding-block: 0.25rem;
    }
}

.sw-button.sw-button-size-larger {
    height: 3em;
    min-width: 3rem;
    padding-inline: 1.33rem;
    padding-block: 0.33rem;
    line-height: 3em;

    &.sw-button-icon {
        padding-inline: 0.375rem;
        padding-block: 0.375rem;
    }
}

.sw-button.sw-button-size-large {
    height: 3.5em;
    min-width: 3.5rem;
    padding-inline: 1.66rem;
    padding-block: 0.66rem;
    line-height: 3.5em;

    &.sw-button-icon {
        padding-inline: 0.5rem;
        padding-block: 0.5rem;
    }
}

/* Variant */

.sw-button.sw-button-variant-solid {
    --color-bg: light-dark(black, white);
    --color-bg-hover: color-mix(in srgb, light-dark(black, white) 70%, transparent);
    --color-border: transparent;

    --color-fg: light-dark(white, black);
}

.sw-button.sw-button-variant-subtle {
    --color-bg: light-dark(lightgray, darkgray);
    --color-bg-hover: color-mix(in srgb, light-dark(lightgray, darkgray) 70%, transparent);
    --color-border: transparent;

    --color-fg: light-dark(black, white);
}

.sw-button.sw-button-variant-outline {
    --color-bg: transparent;
    --color-bg-hover: color-mix(in srgb, light-dark(lightgray, darkgray) 70%, transparent);
    --color-border: light-dark(lightgray, darkgray);

    --color-fg: light-dark(black, white);
}

.sw-button.sw-button-variant-ghost {
    --color-bg: transparent;
    --color-bg-hover: color-mix(in srgb, light-dark(lightgray, darkgray) 70%, transparent);
    --color-border: transparent;

    --color-fg: light-dark(black, white);
}

.sw-button.sw-button-variant-plain {
    --color-bg: transparent;
    --color-bg-hover: transparent;
    --color-border: transparent;

    --color-fg: light-dark(black, white);
}

/* Rounding */

.sw-button.sw-button-rounding-none {
    --radius-border: 0;
}

.sw-button.sw-button-rounding-small {
    --radius-border: 0.25rem;
}

.sw-button.sw-button-rounding-normal {
    --radius-border: 0.375rem;
}

.sw-button.sw-button-rounding-large {
    --radius-border: 0.5rem;
}

.sw-button.sw-button-rounding-extra {
    --radius-border: 0.75rem;
}

.sw-button.sw-button-rounding-half {
    --radius-border: 1rem;
}

.sw-button.sw-button-rounding-full {
    --radius-border: 9999px;
}

/* Animation */

.sw-button {
    transition-duration: 200ms;
    transition-property: color, background, border-color, outline, outline-offset;
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
    .sw-button {
        transition-duration: 0s;
    }
}

/* Content */

.sw-button.sw-button-icon {
    aspect-ratio: 1 / 1;

    & > svg {
        height: unset;
        width: unset;

        flex-grow: 1;
    }
}
