/* Common */

.sw.btn {
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;

    isolation: isolate;
    appearance: none;
    outline: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    border-radius: var(--radius-border);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);

    background: var(--color-bg);
    color: var(--color-fg);

    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;

    user-select: none;
    cursor: pointer;
}

.sw.btn:hover:not(:disabled), .sw.btn[data-active]:not(:disabled) {
    background: var(--color-bg-hover, var(--color-bg));
}

.sw.btn:focus-visible, .sw.btn[data-focus] {
    outline: light-dark(black, white) solid 2px;
    outline-offset: 2px;
}

.sw.btn:disabled, .sw.btn[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Size */

.sw.btn.btn-xs {
    height: 1.5rem;
    min-width: 1.5rem;
    padding-inline: 0.33rem;
    padding-block: 0.07rem;
    line-height: 1.5rem;

    &.btn-icon {
        padding-inline: 0.125rem;
        padding-block: 0.125rem;
    }
}

.sw.btn.btn-s {
    height: 2rem;
    min-width: 2rem;
    padding-inline: 0.66rem;
    padding-block: 0.15rem;
    line-height: 2rem;

    &.btn-icon {
        padding-inline: 0.25rem;
        padding-block: 0.25rem;
    }
}

.sw.btn.sw.btn-m {
    height: 2.5rem;
    min-width: 2.5rem;
    padding-inline: 1rem;
    padding-block: 0.25rem;
    line-height: 2.5rem;

    &.btn-icon {
        padding-inline: 0.25rem;
        padding-block: 0.25rem;
    }
}

.sw.btn.btn-l {
    height: 3em;
    min-width: 3rem;
    padding-inline: 1.33rem;
    padding-block: 0.33rem;
    line-height: 3em;

    &.btn-icon {
        padding-inline: 0.375rem;
        padding-block: 0.375rem;
    }
}

.sw.btn.btn-xl {
    height: 3.5em;
    min-width: 3.5rem;
    padding-inline: 1.66rem;
    padding-block: 0.66rem;
    line-height: 3.5em;

    &.sw.btn-icon {
        padding-inline: 0.5rem;
        padding-block: 0.5rem;
    }
}

/* Variant */

.sw.btn.btn-vp {
    --color-bg: light-dark(black, white);
    --color-bg-hover: color-mix(in srgb, light-dark(black, white) 70%, transparent);
    --color-border: transparent;

    --color-fg: light-dark(white, black);
}

.sw.btn.btn-vs {
    --color-bg: light-dark(lightgray, darkgray);
    --color-bg-hover: color-mix(in srgb, light-dark(lightgray, darkgray) 70%, transparent);
    --color-border: transparent;

    --color-fg: light-dark(black, white);
}

.sw.btn.btn-vo {
    --color-bg: transparent;
    --color-bg-hover: color-mix(in srgb, light-dark(lightgray, darkgray) 70%, transparent);
    --color-border: light-dark(lightgray, darkgray);

    --color-fg: light-dark(black, white);
}

.sw.btn.btn-vg {
    --color-bg: transparent;
    --color-bg-hover: color-mix(in srgb, light-dark(lightgray, darkgray) 70%, transparent);
    --color-border: transparent;

    --color-fg: light-dark(black, white);
}

.sw.btn.btn-vt {
    --color-bg: transparent;
    --color-bg-hover: transparent;
    --color-border: transparent;

    --color-fg: light-dark(black, white);
}

/* Rounding */

.sw.btn.btn-rn {
    --radius-border: 0;
}

.sw.btn.btn-rs {
    --radius-border: 0.25rem;
}

.sw.btn.btn-rn {
    --radius-border: 0.375rem;
}

.sw.btn.btn-rl {
    --radius-border: 0.5rem;
}

.sw.btn.btn-rx {
    --radius-border: 0.75rem;
}

.sw.btn.brn-rh {
    --radius-border: 1rem;
}

.sw.btn.brh-rf {
    --radius-border: 9999px;
}

/* Animation */

.sw.btn {
    transition-duration: 200ms;
    transition-property: color, background, border-color, outline, outline-offset;
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
    .sw.btn {
        transition-duration: 0s;
    }
}

/* Content */

.sw.btn.btn-icon {
    aspect-ratio: 1 / 1;

    & > svg {
        height: unset;
        width: unset;

        flex-grow: 1;
    }
}
