.sw.tab-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
    justify-content: start;
}

.sw.tab-container > header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;

    border-bottom: 1px solid light-dark(var(--color-gray-dark), var(--color-gray-light));;
}

.sw.tab-container > header > label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

.sw.tab-container > header > label > span {
    padding: 0.5rem 1rem;
    color: light-dark(var(--color-gray-dark), var(--color-gray-light));
}

.sw.tab-container > header > label:has(input[type="radio"]:checked) > span {
    color: light-dark(var(--color-black), var(--color-white));
}

.sw.tab-container > header > label:has(input[type="radio"]:checked)::after {
    content: "";
    position: absolute;
    bottom: -1px;
    inset-inline: 0;
    height: 2px;
    background: light-dark(var(--color-black), var(--color-white));
}


.sw.tab-container > header > label > input[type="radio"] {
    display: none;
}
