#app {
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: grid;
    grid-template:
        "head head" 70px
        "side main" auto
        / 200px auto;

    font-family: sans-serif;
    font-size: 16px;

    color-scheme: light dark;
    background: light-dark(white, black);
    color: light-dark(black, white);
}

header {
    grid-area: head;
    overflow: hidden;
}

aside {
    grid-area: side;
    overflow: hidden auto;
}

main {
    grid-area: main;
    overflow: auto;
}

#app[theme="Dark"] {
    color-scheme: only dark;
}

#app[theme="Light"] {
    color-scheme: only light;
}

#app[theme="Light"] ::deep [only-dark],
#app[theme="Dark"] ::deep [only-light] {
    display: none;
}

@media (prefers-color-scheme: light) {
    #app:not([theme]) ::deep [only-dark] {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    #app:not([theme]) ::deep [only-light] {
        display: none;
    }
}
