<HeadContent>
    <SwallowComponentsSetup />
</HeadContent>

<div id="app" theme="@theme">
    <header>
        <PageHeader />
    </header>

    <aside>
        <NavigationSidebar />
    </aside>

    <main>
        <article>
            <Router AppAssembly="@typeof(App).Assembly" NotFoundPage="@typeof(NotFound)">
                <Found>
                    <RouteView RouteData="context" />
                </Found>
            </Router>
        </article>
    </main>
</div>
