@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Swallow.Components</title>
    <base href="/"/>

    <link href="@Assets["DemoHost.WebSocket.css"]" rel="stylesheet"/>
    <HeadOutlet @rendermode="RenderMode.InteractiveServer"/>
</head>
<body>
    <Routing @rendermode="RenderMode.InteractiveServer"/>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>
</html>
