@using Microsoft.AspNetCore.Components.Web
@using Swallow.Components.Overlays

<PageTitle>Swallow.Components - Popover</PageTitle>

<div style="display: flex; flex-direction: column; gap: 2lh; align-items: center">
@foreach (var position in Enum.GetValues<Position>())
{
    <SwPopover PopoverPosition="position">
        <TriggerContent>Click me</TriggerContent>
        <PopoverContent>I am a secret</PopoverContent>
    </SwPopover>
}
</div>
