@using Microsoft.AspNetCore.Components.Web
@using Swallow.Components.Overlays

<PageTitle>Swallow.Components - Tooltip</PageTitle>

<div style="display: flex; flex-direction: column; gap: 2lh; align-items: center">
@foreach (var position in Enum.GetValues<Position>())
{
    <SwTooltip TooltipPosition="position" OnTriggered="@(() => Console.WriteLine("triggered"))">
        <TriggerContent>Hover me</TriggerContent>
        <TooltipContent>I am a secret</TooltipContent>
    </SwTooltip>
}
</div>
