@page "/"
@using Swallow.Components

This is the main page.

<p>
    <SwButton>Hello, World</SwButton>
    <SwButton disabled>Hello, World</SwButton>
</p>

<p>
    <SwButtonGroup Size="ButtonSize.Large">
        <SwButton>Large</SwButton>
        <SwButton Size="ButtonSize.Small">Small</SwButton>
    </SwButtonGroup>
</p>
