@page "/relref"

@if (showInput)
{
    <label for="next input" idref>Blablabla</label>
    <input name="name" @bind="@text">
}

<p>@text</p>
<p><button type="button" @onclick="@(() => showInput = !showInput)">Toggle</button></p>

@code {

    private string? text;
    private bool showInput;

}
